body {
	background-color: #050505;
	color: #fff;
	font-family: monospace;
}

a {
	color: #3194d5;
}

#info { padding: 10px; text-align: center; }
#container { text-align: center; }
#copyright { padding: 10px; text-align: center; }